BOT_TOKEN=7557858574:AAFKUxpJMW4rZOM8oxhtK3zv0EY8Ul_rQp8
ADMIN_ID=885394476
PORT=3000
NODE_ENV=development
# In production set NODE_ENV=production and configure WEBAPP_URL
WEBAPP_URL=https://yourdomain.com
